body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p {
  margin: 0;
}
.container {
  width: 700px;
  max-width: 100%;
}
.result-block {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #4b5257;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.result-block__items {
  flex: 1;
}
.result-block__item {
  margin-bottom: 10px;
}
.form-block {
  margin-bottom: 20px;
  margin-top: 50px;
}
.total-spent {
  text-align: center;
}